$max-width: 1920px;
$primary-color: #F8F8F8;
$secondary-color: #303030;
$accent-color-red: #E46942;
$white-color: #FFF;
$black-color: #000;
$gray-color: #F0F0F0;
$gray-color-dark: #E8E7E7;
$gray-color-light: #A2A2A2;
$opacity-l: 0.5;
$opacity-m: 0.3;
$transition-l: .5s;
$transition-m: .3s;
$tooltip-max-width: 500px;
